/* reset for different browsers - normalize and reset not really needed anymore */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* better to inherit this from body so it's more future proof and is the standard approach */
  box-sizing: inherit; }

html {
  /* needs to be % so that it doesn't overide the browser default size. */
  /* this would mean users wouldn't be able to zoom in */
  /* font-size: 10px; */
  /* this defines what 1rem is*/
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

h1 {
  color: #55c57a;
  font-size: 6rem; }

h2 {
  font-size: 5rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.u-margin-top-large {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1 {
    width: 100%; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
