@import url('https://fonts.googleapis.com/css?family=Amiri');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

// @import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

// @import "base/animations";
@import "base/base";
// @import "base/lazy-loading";
@import "base/typography";
@import "base/fonts";
@import "base/utilities";

@import "components/archive-dropdown";
@import "components/article-content";
@import "components/blue-bar";
@import "components/button";
@import "components/carousel";
@import "components/gallery-item";
@import "components/news-row";
@import "components/statement-text";
@import "components/team-member";
@import "components/team-modal";
@import "components/testimonials";

@import "layout/navigation";
@import "layout/footer";

@import "pages/clients";
@import "pages/home";
@import "pages/projects";
@import "pages/contact";

// @import "vendors/slick";
// @import "vendors/slick-theme";


.bgred {
    background-color: red!important;
}
.bgblue {
    background-color: blue!important;
}
.bggreen {
    background-color: green!important;
}