@import url('https://fonts.googleapis.com/css?family=Amiri');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// @import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

// @import "base/animations";
@import "base/base";
@import "base/lazy-loading";
@import "base/typography";
@import "base/fonts";
@import "base/utilities";

@import "components/tpr-article-content";
// @import "components/tpr-approach-content";
@import "components/tpr-blue-bar";
@import "components/tpr-button";
// @import "components/tpr-clients";
@import "components/tpr-gallery-item";
@import "components/tpr-news-row";
@import "components/tpr-team-member";
@import "components/tpr-team-modal";


// @import "layout/grid";
// @import "layout/header";

@import "pages/clients";
@import "pages/home";
@import "pages/projects";


.bgred {
    background-color: red!important;
}
.bgblue {
    background-color: blue!important;
}
.bggreen {
    background-color: green!important;
}