@import url('https://fonts.googleapis.com/css?family=Amiri');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// @import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

// @import "base/animations";
@import "base/base";
@import "base/typography";
// @import "base/utilities";

// @import "components/button";
@import "components/tpr-blue-bar";
@import "components/tpr-team-member";


// @import "layout/grid";
// @import "layout/header";

@import "pages/home";


.bgred {
    background-color: red!important;
}
.bgblue {
    background-color: blue!important;
}
.bggreen {
    background-color: green!important;
}