//colors
$tpr-color-primary: #333333;
$color-light-grey: #747474;
$color-vlight-grey: #dddddd;
$color-dark-grey: #777;
$color-white: #fff;
$color-black: #000;

$tpr-dark-blue:#004459;
$tpr-blue: #007397;
$tpr-light-blue:#92d4e9;
// font sizes
$default-font-size: 1.6rem;

// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;