
.archive-button {
  margin: 0;
  padding: 1rem 1rem 1rem 2rem;
  background: #007397;
  color:#ffffff;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.25s ease-in;
}
.archive-active, .archive-button:hover {
  background: #0086af;
  color:#ffffff;
}
.archive-projects {
    background: #eee;
    overflow: hidden;
    max-height: 0;
    list-style: disc;
    list-style-position: inside;
    vertical-align: middle;
    transition: max-height .5s ease-in;
    &__link {
        padding: 0.5rem 1rem 0px 4rem;
        text-decoration:none;
        color: #222;
        width: 90%; 
        @include respond(xlg) {
            width: 100%;
        }
        &:first-of-type {
            padding-top: 3rem;
        }
        &:last-of-type {
            padding-bottom: 3rem;
        }
        h3 {
          display: inline-block;
          vertical-align: middle;
        }
    }
    
}
