.tpr-blue-bar {
    background-color: $tpr-light-blue;
    margin: 0 -1.5rem;
    color: $tpr-color-primary;
    &__title {
        font-size: 2rem;
        line-height: 1.4;
        margin: 0 auto; 
        max-width: 100rem;
        padding: 3rem 0 0;
        text-align: center;
    }
    &__content {
        font-size: 2rem;
        line-height: 1.4;
        margin: 0 auto; 
        max-width: 100rem;
        padding: 0 0 3rem;
        text-align: center;
    }
}