// home page and contact page
.tpr-statement-text {
    font-size: 2.4rem;
    text-align: center;
    &--highlight {
        color: $tpr-blue;
    }
    &__tel {
        padding-top: 1rem;
        color: $color-light-grey;
    }
}