.testimonial-wrapper {
    background: $color-vlight-grey;
    width: 100%;

}
.testimonials {
    width: 90%;
    margin: 0 auto;
    // height: auto;
    transition: height 0.4s linear;
}
.testimonial {
    vertical-align: middle;
    text-align: center;
    font-size: 2rem;
    span {
        color: $tpr-blue;
    }
}
// .testimonial .slick-active {
//     height
// }
// .testimonial--hide {
//     opacity: 0;
// }
.height-200 {
    height: 200px;
}
.height-300 {
    height: 300px;
}
.height-400 {
    height: 400px;
}