.tpr-article-content {
    padding: 3rem 0 3rem;
    picture {
        padding-bottom: 1rem;
    }
    &__paragraph {
        text-align: center;
        margin-bottom: 0;
        padding-bottom: 1rem;
    }
    &__link {
        color: $tpr-blue;
        &:hover {
            color: $tpr-light-blue;  
        }
    }
    &__subtitle {
        font-size: 2rem;
        padding-top: 1rem;
        text-align: center;
    }
}