.gallery-nav {
    border-top: 1px solid $color-vlight-grey;
    border-bottom:  1px solid $color-vlight-grey;
    text-align: center;
    &__button {
        padding: 10px 18px;
        cursor: pointer;
        background: none;
        border: none;
    }
    @include clearfix();
}
/* ---- gallery-nav ---- */

/* ---- isotope ---- */
.grid {
    @include clearfix();
    width: 100%;
    margin: 0 auto;
}

/* ---- .element-item ---- */
.element-item {
  position: relative;
  width: 98%;
  margin: 1%;
//   padding: 10px;
  background: #888;
  color: #262524;
  z-index: 1;
  cursor: pointer;
  &:hover .element-item__details {
      opacity: 1;
  }
  &__details {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; 
      background-color: none;
      z-index: 2;
      transition: all .5s;
      p {
        position: absolute;
      color: $color-white; 
        z-index: 21;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
  }
  &--overlay { 
      position: absolute;
        z-index: 20; 
      width: 100%;
      height: 100%;
      background-color: $tpr-dark-blue;
      opacity: 0.5;
  }
  @include respond(md) {
    width: 48%;
    margin: 1%;
  }
}

.element-item img {
  width: 100%;
  display: inline-block;
}


