/* reset for different browsers - normalize and reset not really needed anymore */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /* better to inherit this from body so it's more future proof and is the standard approach */
    box-sizing: inherit; 
}

html {
    /* needs to be % so that it doesn't overide the browser default size. */
    /* this would mean users wouldn't be able to zoom in */
    /* font-size: 10px; */
    /* this defines what 1rem is*/
    font-size: 62.5%;
}

body {
    box-sizing: border-box; 
}

.tpr-nav {
    &--mx-width {
        max-width:1200px;
        margin: 0 auto;
    }
    &__link {
        font-size: 2.2rem;
        font-family: 'Amiri', serif;
    }

}