/* reset for different browsers - normalize and reset not really needed anymore */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /* better to inherit this from body so it's more future proof and is the standard approach */
    box-sizing: inherit; 
}

html {
    /* needs to be % so that it doesn't overide the browser default size. */
    /* this would mean users wouldn't be able to zoom in */
    /* font-size: 10px; */
    /* this defines what 1rem is*/
    font-size: 62.5%;
}

body {
    box-sizing: border-box; 
}

// news/project styling
.tpr-article {
    &__title {
        font-size: 1.8rem;
        text-align: center;
    }
    &__paragraph {
        text-align: center;
        padding: 3px 0;
    }
    &__link {
        color: $tpr-dark-blue;
        &:hover {
            color: $tpr-light-blue;  
        }
    }
}
// news/project typography styling

.red {background: red;}
.green {background: green;}
.blue {background: blue;}
.hide {display: none;}
.show {display: block;}


.image {
  position: relative;
  padding-bottom: 66.5492958%;

  // Tweak as needed
  background: linear-gradient(rgb(242, 242, 242) 66%, rgba(242, 242, 242, 0)); }

.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; }

  @keyframes scaleout {
  0% {
    transform: scale(0); }

  100% {
    transform: scale(1);
    opacity: 0; } }

.loading:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  animation: scaleout 1.2s infinite ease-in-out;

  // Tweak as needed
  mix-blend-mode: soft-light;
  background-color: rgba(0, 0, 0, .9); }

  .lazyload,
.lazyloading {
  opacity: 0; }

.loading,
.lazyload,
.lazyloaded,
.image {
  opacity: 1;
  transition: 2s cubic-bezier(0.215, 0.61, 0.355, 1); }