body {
    font-family: 'Open Sans', Arial, sans-serif;
}
h1 {
    color: $tpr-color-primary;
    font-size: 6rem;
}
h2 {
    font-size: 5rem;
}

.paragraph {
    font-size: $default-font-size;
    color: $tpr-color-primary;
}

ul {
    list-style: none;
}


