body {
    font-family: 'Open Sans', Arial, sans-serif;
    color: $tpr-color-primary;
}
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 5rem;
}

p, ul {font-size: $default-font-size;}

button {
   font-family: 'Open Sans', Arial, sans-serif; 
}
a {
    color: $tpr-color-primary;
    &:hover {
        color: $tpr-light-blue;
    }
}
ul {
    list-style: none;
}
a:hover {
    text-decoration: none;
}


