.tpr-slider {
    @include tpr-max-width();
}

.carousel-caption {
    h2 {
        font-size: 1.8rem;
        position: absolute;
        left: -15.5rem;
        bottom: -0.5rem;
    }
}

.tpr-statement-text {
    font-size: 2.4rem;
    &--highlight {
        color: $tpr-blue;
    }
    &__tel {
        color: $color-light-grey;
    }
}