.tpr-slider {
    @include tpr-max-width();
}
.carousel-caption {
    position: absolute;
    left: 2rem;
    bottom: 1rem;
    h2 {
        font-size: 1.8rem;
        position: absolute;
        left: 0rem;
        bottom: 0rem;
    }
}


.fadeLoad {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;

    /*pointer-events makes this node not respond to mouse/touch events
    Which is probably what we want while the button is invisible.*/
    pointer-events: none;
}
