@import url("https://fonts.googleapis.com/css?family=Amiri");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* reset for different browsers - normalize and reset not really needed anymore */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* better to inherit this from body so it's more future proof and is the standard approach */
  box-sizing: inherit; }

html {
  /* needs to be % so that it doesn't overide the browser default size. */
  /* this would mean users wouldn't be able to zoom in */
  /* font-size: 10px; */
  /* this defines what 1rem is*/
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.tpr-nav {
  max-width: 120rem;
  margin: 0 auto; }
  .tpr-nav__link {
    font-size: 2.2rem;
    font-family: 'Amiri', serif;
    color: #333333;
    text-decoration: none !important; }
    .tpr-nav__link:hover {
      color: #92d4e9; }
  .tpr-nav__social-icons {
    position: absolute;
    top: 5.4rem;
    right: 10rem; }
    @media (min-width: 62em) {
      .tpr-nav__social-icons {
        right: 3rem; } }

.tpr-footer {
  max-width: 120rem;
  margin: 0 auto;
  color: #fff; }
  .tpr-footer__content {
    text-align: center; }
    .tpr-footer__content--left {
      text-align: left; }
  .tpr-footer__logo-main {
    max-width: 5rem; }
  .tpr-footer__tel-link {
    color: #fff; }

body {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #333333; }

h1 {
  font-size: 6rem; }

h2 {
  font-size: 5rem; }

p {
  font-size: 1.6rem; }

button {
  font-family: 'Open Sans', Arial, sans-serif; }

.paragraph {
  font-size: 1.6rem;
  text-align: center; }

ul {
  list-style: none; }

.tpr-news-row__content {
  background-color: #92d4e9;
  height: 100%; }

.tpr-news-row__title {
  font-size: 2rem;
  font-family: 'Amiri', serif; }

.tpr-news-row__paragraph {
  font-size: 1.4rem; }

.tpr-news-row__image {
  width: 100%; }

.tpr-approach-content__title {
  font-size: 1.8rem;
  text-align: center; }

.tpr-blue-bar {
  background-color: #92d4e9;
  color: #333333; }
  .tpr-blue-bar__content {
    max-width: 100rem;
    font-size: 2rem;
    margin: 0 auto;
    text-align: center; }

.tpr-team-section__member {
  position: relative;
  margin-bottom: 3rem;
  cursor: pointer; }
  .tpr-team-section__member:hover .tpr-team-section--overlay {
    opacity: 0.5; }

.tpr-team-section__picture {
  width: 100%; }

.tpr-team-section--overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #004459;
  opacity: 0;
  transition: all .5s; }

.tpr-team-section__details {
  color: #fff;
  position: absolute;
  bottom: 0rem;
  left: 1rem; }

.tpr-team-modal__header {
  border-bottom: 1px solid #92d4e9; }

.tpr-team-modal__close {
  font-size: 2.5rem; }

.tpr-team-modal__picture {
  max-width: 80%;
  margin: 0 auto; }

.tpr-clients {
  text-align: center; }
  .tpr-clients__client {
    width: 80%; }

.tpr-button {
  font-size: 1.4rem;
  background-color: #007397;
  color: #fff;
  width: 15rem;
  text-transform: uppercase;
  font-family: 'Open Sans', Arial, sans-serif; }
  .tpr-button:hover {
    background-color: #004459;
    color: #fff; }

.tpr-slider {
  max-width: 120rem;
  margin: 0 auto; }

.tpr-statement {
  font-size: 2.4rem; }
  .tpr-statement--highlight {
    color: #007397; }

.bgred {
  background-color: red !important; }

.bgblue {
  background-color: blue !important; }

.bggreen {
  background-color: green !important; }
